.container{
    text-align: center;
}

.tittle{
     margin-top: 50px;
     color:rgb(250, 66, 158);
     font-size: 60px;
     display:flex;
     justify-content:center;
     align-items: center;

}
.tittle span{
    color:rgb(237, 88, 230);
    padding-left: 15px;
}
.reset
{
    width: 250px;
    height: 100px;
    border:none;
    outline:none;
    cursor:pointer;
    border-radius:50px;
    background: #a10895;
    font-size:26px;
    color:rgb(138, 18, 250);
    margin: top 25px;
    margin-bottom: 50px;
}

.start
{
    width: 250px;
    height: 100px;
    border:none;
    outline:none;
    cursor:pointer;
    border-radius:50px;
    background: #08a115;
    font-size:26px;
    color:rgb(45, 250, 18);
    margin: top 25px;
    margin-bottom: 50px;
}
.boxes
{
    display:flex;
    height:180px;
    width:180px;
    background: #1f3540;
    border:4px solid #0f1b21;
    border-radius: 12px;
    cursor:pointer;
    margin-right: 30px;
}
.board
{
    height:600px;
    width:600px;
    display:flex;
    margin:auto;

}
.boxes img{
    margin: 50px 50px;
}

.title img{
    padding:20px 20px;
    height:50px;

}